name: Test

on:
  push:
    branches:
      - main
      - code_cov
  pull_request:
    branches:
      main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1

    - name: Setup Dart
      uses: dart-lang/setup-dart@v1.2

    - name: Dart version
      run: dart --version

    - name: Download pub dependencies
      run: dart pub get

    - name: Run tests and format coverage
      run: |
        dart test --coverage=coverage
        dart run coverage:format_coverage --lcov --in=coverage \
          --out=coverage/lcov.info --packages=.packages --report-on=lib
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}